* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    width: 80%;
    margin: 0 auto;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.button {
    background-color: #FF7A59;
    border-radius: 10%;
    padding: 10px 18px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.fas {
    margin-left: 5px;
    color: #7c98b6;
    height: 5px;
}
#menu_top_fixed {
    background-color: #F5F8FA;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0px;
    right: 0px;
    left:0px;
    z-index: 51;
}
#fixed_left {
    float: left;
    height: 80px;
    position: relative;

}
#fixed_right {
    float: right;
}
#fixed_left a {
    color: #526374;
    text-decoration: none;
    font-size: 18px;
}
#english {
    float:left;
    padding-right: 25px;
    border-right: 1px solid #cbd6e2;
}
#english img {
    height: 20px;
    display: inline-block;
}
#english ul {
    position: absolute;
    top:60px;
    border: 1px solid #cbd6e2;
    z-index: 55;
    background-color: white;
    list-style-type: none;
    padding: 15px 25px 15px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 180px;
    line-height: 25px;
    display: none;
}
#english ul li a {
    text-decoration: none;
}
#english:hover ul  {
    display: block;
}
#english ul li:hover {
    background-color: #e5f5f8;
}

#contact_us {
    float: left;
    padding-left: 25px;
}
#callto a {
    color: #13AAC2;
}
#log {
    margin: 0 20px;
    color: #FF7A59;
    border-color: #FF7A59;
    background-color: white;
    border-radius: 10%;
    padding: 10px 18px;

}
#header_top {
    height: 80px;
    line-height: 80px;
    position: relative;
    top:80px;
    background-color: white;
    z-index: 50;
}

#logo  {
    float: left;
}
#navbar {
    float:right;
    position: relative;
}
#navbar ul {
    list-style-type: none;
}
#navbar ul li {
    float: left;
    margin-left: 25px;
}
#navbar ul li a {
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    color: #526374;
    text-decoration: none;
}

#_hide {
    width: 900px;
    border: 1px solid #CBD6E2;
    background-color: white;
    position: absolute;
    top:60px;
    left: -400px;
    height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
}
#software:hover #_hide {
    display: block;
}
#resources:hover #_hide {
    display: block;
}
#partners:hover #_hide {
    display: block;
}

._hide_menu {
    width: 33%;
    display: inline-block;
    height: 100%;
    line-height: 20px;
    color: #33475B;
    padding-left: 10px;
}
._hide_menu h3 {
    margin: 15px 0 15px 0px;
    font-family: 'Nunito Sans', sans-serif;
}

._hide_menu:hover {
    background-color: #e5f5f8;
    cursor: pointer;
}
._hide_menu_two {
    width: 49%;
    display: inline-block;
    height: 100%;
    line-height: 20px;
    color: #33475B;
    padding: 10px 0 0 5px;
}
._hide_menu_two h3 {
    margin: 15px 0 15px 0px;
    font-family: 'Nunito Sans', sans-serif;
}
._hide_menu_two:hover {
    background-color: #e5f5f8;
    cursor: pointer;
}


#first {
    background-image: url(https://i.postimg.cc/W4tGDrzm/Immagine.png);
    height: 800px;
    background-size: cover;
    background-position: bottom;
}
#jumbo {
    width: 40%;
    padding-top: 50px;
    margin-top: 50px;

}
#jumbo h1 {
    font-size: 55px;
    margin-bottom: 20px;
    color: #33475B;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 50px;
}
#jumbo p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #33475B;
}
#jumbo button {
    margin-bottom: 20px;
    background-color: #FF7A59;
    border-radius: 10%;
    padding:25px 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;

}
#second {
    background-color: #F5F8FA;
    padding-bottom: 100px;
}
#powerfull_alone {
    text-align: center;
    padding-top: 70px;
    margin: 0 100px;
}
#powerfull_alone img {
    max-height: 200px;
}
#powerfull_alone h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #33475B;
    font-family: 'Nunito Sans', sans-serif;
}
#powerfull_alone p {
    font-size: 20px;
    color: #33475B;
}
#free_hub {
    margin: 50px 50px 10px;
    background-color: white;
    height: 300px;
}
#free_hub_left {
    float: left;
    width: 40%;
    text-align: center;
}
#free_hub_right {
    width: 60%;
    float: left;
    padding-right: 70px;
}
#free_hub_left img {
    max-height: 170px;
    margin-bottom: 20px;
    margin-top: 30px;
}
#free_hub_right h2 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 30px;
    color: #33475B;
}
#free_hub_right  p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #33475B;
}
#free_hub_right h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #33475B;
    display: inline-block;
}
#free_hub_right hr {
    display: inline-block;
    margin-left: 10px;
    border-bottom: 1px solid #e0e6ed;
    width: 60%
}
#free_hub_right ul {
    list-style-type: none;
}
#free_hub_right ul li {
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
    color: #33475B;
}
.fa-check-circle {
    color: #FF7A59;
    margin-right: 8px;
}
#i_verticali {
    margin: 25px 50px;
}
.verticale {
    float: left;
    width: 30%;
    text-align: center;
    padding: 20px;
    background-color: white;
}
.verticale img {
    height: 150px;
}
.verticale h1 {
    font-size: 25px;
    padding: 15px 0;
    color: #33475B;
}
.verticale h2 {
    margin: 20px;
    color: #33475B;
}
.verticale p {
    font-size: 18px;
    margin: 15px 0;
    text-align: left;
    color: #33475B;
}
.verticale ul {
    list-style-type: none;
    text-align: left;
}
.verticale ul li {
    font-size: 16px;
    margin:8px;
    color: #33475B;
}
.verticale button {
    margin: 15px 0;
    font-size: 15px;
}
#secondo {
    margin: 0 5%;
}


#third {
    background-color: #00A6BC;
    text-align: center;
    padding: 100px 0;
}
#parte_scritta {
    margin: 0 150px;
    color: white;
}
#parte_scritta h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
}
#parte_scritta p {
    margin-bottom: 100px;
    font-size: 18px;
    line-height: 25px;
}
.quadrato {
    width: 25%;
    text-align: center;
    padding: 30px;
    float: left;
    color: white;

}
.quadrato h2 {
    font-size: 50px;
    margin: 10px 0 ;
    position: relative;

}
.quadrato p {
    font-size: 18px;

}
#uno h2::after {
    content: '+';
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 55px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
#due h2::after {
    content: '+';
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 60px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
#tre h2::after {
    content: '+';
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 45px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
#cinque h2::after {
    content: '+';
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 55px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
#sette h2::after {
    content: '+';
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
#otto h2::after {
    content: '+';
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 70px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#uno , #due , #tre , #cinque , #sei , #sette {
    border-right: 1px solid white ;
}
#uno , #due , #tre , #quattro {
    border-bottom: 1px solid white ;
}


#fourth_top  {
    margin-top: 100px;
}
#fourth_top_left {
    width:40%;
    float:left;
    padding: 20px 100px 20px 40px;
    line-height: 35px;
}
#fourth_top_left h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #33475B;
}
#fourth_top_left p {
    font-size: 20px;
    color: #33475B;
}
#fourth_top_right {
    width: 60%;
    float: left;
}
.loghi_vari {
    float: left;
    text-align: center;
    height: 36px;
    width: 25%;
    margin: 40px 0;

}
.loghi_vari img {
    width: 70%;
    object-fit: contain;
    object-position: center;
    height: 100%;
}
#fourth_bottom {
    margin-top: 150px;
}
#fourth_bottom_left {
    float: left;
    width: 45%;
    line-height: 30px;
}
#fourth_bottom_left h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #33475B;
    font-family: 'Nunito Sans', sans-serif;
}
#fourth_bottom_left p {
    font-size: 20px;
    color: #33475B;
}
#fourth_bottom_left button {
    margin-bottom: 20px;
    background-color: #FF7A59;
    border-radius: 10%;
    padding:25px 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#fourth_bottom_right {
    float: right;
    width: 55%;
    text-align: right;
}
#fourth_bottom_right img {
    height: 420px;
    position: relative;
    bottom:30px;
}
footer {
    margin-top: 100px;
    background-color: #33475B;
    color: white;
    padding-top: 100px;
}
.colonne_foot {
    width: 25%;
    float: left;
    line-height: 40px;
}
.colonne_foot a {
    text-decoration: none;
    color: #cbd6e2;
    font-size: 18px;
}
#quarta_colonna button {
    padding:10px;
    font-size: 12px;
    border-radius: 5px;
    background-color: white;
    margin:8px 0;
}
#social i {
    margin-right: 25px;
    color: rgba(255, 255, 255, 0.7);
}
#social i:hover {
    color : lightblue;
}
#lingue{
    text-align: center;
    margin: 50px 0;
    font-size: 20px;
}
#lingue a {
    text-decoration: none;
    color: #cbd6e2;
    margin: 0 15px;
}
#lingue a:hover {
    color : lightblue;
}
footer hr {
    border-color: #7C98B6;
    margin-bottom: 25px;
}
#end_left {
    float: left;
}
#end_left p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 15px;
    margin-bottom: 20px;
}
#end_right {
    float: right;
}
#end_right a {
    font-size: 18px;
    text-decoration: none;
    color: #cbd6e2;
    margin-right: 20px;
}
#end_right a:hover {
    color: lightblue;
}
