* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.menu_top_fixed {
    background-color: #F5F8FA;
    height: 80px;
    line-height: 80px;
}
.menu_top_fixed:after {
    content: '';
    display: table;
    clear: both;
}
.fixed_left {
    float: left;
}
.fixed_right {
    float: right;
}

.fixed_left:after {
    content: '';
    display: table;
    clear: both;
}
.fixed_left a {
    color: #526374;
    text-decoration: none;
    font-size: 18px;
}
#english {
    float:left;
    margin-right: 25px;
}
#contact_us {
    float: left;
    margin-left: 25px;
}
.callto a {
    color: #13AAC2;
}
#log {
    margin: 0 20px;
}
.header_top {
    height: 80px;
    line-height: 80px;
}
.header_top:after {
    content: '';
    display: table;
    clear: both;
}

#logo  {
    float: left;
}
#navbar {
    float:right;
}
#navbar ul {
    list-style-type: none;
}
#navbar ul li {
    float: left;
    margin-left: 25px;
}
#navbar ul li a {
    font-size: 18px;
    color: #526374;
    text-decoration: none;
    text-transform: uppercase;
}
.header_main {
    background-image: url(https://i.postimg.cc/W4tGDrzm/Immagine.png);
    height: 500px;
    background-repeat: no-repeat;
}
.jumbo {
    width: 40%;
}
h1 {
    font-size: 60px;
}
